@import "mixins";


.container {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  @include title;

  padding: 10px;

  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  column-gap: 10px;

  &__input {
    padding: 10px 15px;

    @include text;

    border-radius: 10px;
    border-color: rgb(140, 116, 245);
  }

  &__btn {
    padding: 10px 15px;

    background-color: rgb(140, 116, 245);
    border-radius: 10px;
    border: 0;

    cursor: pointer;
  }
}

.filter {
  display: flex;
  justify-content: space-between;

  margin: 30px 0;

  &__button {
    @include text;
    font-size: 18px;

    padding: 10px 20px;

    border: 1px grey solid;
    border-radius: 20px;

    cursor: pointer;
  }

  &__button-check {
    background-color: rgb(173, 158, 243);
    box-shadow: inset -3px -2px 0px #707070;
  }
}

.list {
  @include text;

  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 0;

  list-style-type: none;
  row-gap: 15px;
}

.list-item {
  display: flex;
  align-items: center;
  column-gap: 15px;
  
  &__label {
    display: flex;
    column-gap: 5px;
  }

  &__btn-del {
    padding: 5px 10px;
    background-color: rgb(227, 76, 76);
    border: 0;
    border-radius: 5px;
  }

  &__text_line {
    text-decoration: line-through;
  }
}
